In [180]:
import pandas as pd
import streamlit as st
import locale

In [181]:
df = pd.read_excel("assets/DRE.xlsx", sheet_name="Dados")

In [182]:
df = df.loc[df["Relatorio"] == "Realizado"]

In [183]:
df["Periodo"] = pd.to_datetime(df["Periodo"], format="mixed")

In [184]:
df['Mes_Ano'] = df['Periodo'].dt.strftime('%B-%Y')

In [185]:
pivotado = df.pivot_table(index=['CodigoProjeto', 'Natureza'], columns='Mes_Ano', values='Lancamento', aggfunc='sum')

In [186]:
# Extrair o ano da coluna 'Periodo'
df['Ano'] = df['Periodo'].dt.year

In [187]:
# Adicionar uma coluna com o nome do mês
df['Mes'] = df['Periodo'].dt.strftime('%B')

In [188]:
# Adicionar uma coluna com o nome do mês em português
meses_ingles_portugues = {
    'January': 'Janeiro',
    'February': 'Fevereiro',
    'March': 'Março',
    'April': 'Abril',
    'May': 'Maio',
    'June': 'Junho',
    'July': 'Julho',
    'August': 'Agosto',
    'September': 'Setembro',
    'October': 'Outubro',
    'November': 'Novembro',
    'December': 'Dezembro'
}

In [189]:
df['Mes'] = df['Periodo'].dt.strftime('%B').map(meses_ingles_portugues)

In [190]:
# Ordenar os dados pelo nome do mês em português
meses_ordenados = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']
df['Mes'] = pd.Categorical(df['Mes'], categories=meses_ordenados, ordered=True)
df = df.sort_values(by='Mes')

In [191]:
# Pivotar o DataFrame
pivotado = df.pivot_table(index=['CodigoProjeto', 'Natureza'], columns=['Ano', 'Mes'], values='Lancamento', aggfunc='sum', observed=False)

In [192]:
# # Formatando os valores em reais
# # Convertendo os valores em Reais
# #pivotado = pivotado.applymap(lambda x: f'R${x:.2f}' if not pd.isna(x) else None)
# locale.setlocale(locale.LC_ALL, 'pt_BR.UTF-8')

# # Pivotar o DataFrame
# pivotado = df.pivot_table(index=['CodigoProjeto', 'Natureza'], columns=['Ano', 'Mes'], values='Lancamento', aggfunc='sum', observed=False)

# # Convertendo os valores em Reais
# pivotado = pivotado.map(lambda x: x if isinstance(x, str) else f'R${x:.2f}')


# Pivotar o DataFrame
pivotado = df.pivot_table(index=['CodigoProjeto', 'Natureza'], columns=['Ano', 'Mes'], values='Lancamento', aggfunc='sum', observed=False)

In [193]:
pivotado

Ano                       2015                                        \
Mes                    Janeiro Fevereiro Março      Abril       Maio
CodigoProjeto Natureza
EDIAPP001     CUSTO        0.0       0.0   0.0       0.00       0.00
              RECEITA      0.0       0.0   0.0       0.00       0.00
EDIATP001     CUSTO        0.0       0.0   0.0       0.00       0.00
              RECEITA      0.0       0.0   0.0       0.00       0.00
EDIBEL001     CUSTO        0.0       0.0   0.0       0.00       0.00
...                        ...       ...   ...        ...        ...
NSPPRI291     RECEITA      0.0       0.0   0.0       0.00       0.00
NSPSLT003     CUSTO        0.0       0.0   0.0       0.00       0.00
              RECEITA      0.0       0.0   0.0       0.00       0.00
PRJRIO001     CUSTO        0.0       0.0   0.0 -193512.19 -146171.83
              RECEITA      0.0       0.0   0.0  185004.17  185004.17

Ano                                                                            \
Mes                         Junho      Julho     Agosto   Setembro    Outubro
CodigoProjeto Natureza
EDIAPP001     CUSTO          0.00       0.00       0.00       0.00       0.00
              RECEITA        0.00       0.00       0.00       0.00       0.00
EDIATP001     CUSTO          0.00       0.00       0.00       0.00       0.00
              RECEITA        0.00       0.00       0.00       0.00       0.00
EDIBEL001     CUSTO          0.00       0.00       0.00       0.00       0.00
...                           ...        ...        ...        ...        ...
NSPPRI291     RECEITA        0.00       0.00       0.00       0.00       0.00
NSPSLT003     CUSTO          0.00       0.00       0.00       0.00       0.00
              RECEITA        0.00       0.00       0.00       0.00       0.00
PRJRIO001     CUSTO     -94744.01 -123813.01  -61996.07 -128163.47 -124668.15
              RECEITA   185004.17  185004.17  222005.00  222004.99  190665.29

Ano                     ...    2024                                         \
Mes                     ...   Março Abril Maio Junho Julho Agosto Setembro
CodigoProjeto Natureza  ...
EDIAPP001     CUSTO     ... -401.27   0.0  0.0   0.0   0.0    0.0      0.0
              RECEITA   ...  764.85   0.0  0.0   0.0   0.0    0.0      0.0
EDIATP001     CUSTO     ... -241.66   0.0  0.0   0.0   0.0    0.0      0.0
              RECEITA   ...  460.61   0.0  0.0   0.0   0.0    0.0      0.0
EDIBEL001     CUSTO     ...    0.00   0.0  0.0   0.0   0.0    0.0      0.0
...                     ...     ...   ...  ...   ...   ...    ...      ...
NSPPRI291     RECEITA   ...    0.00   0.0  0.0   0.0   0.0    0.0      0.0
NSPSLT003     CUSTO     ...    0.00   0.0  0.0   0.0   0.0    0.0      0.0
              RECEITA   ...    0.00   0.0  0.0   0.0   0.0    0.0      0.0
PRJRIO001     CUSTO     ...    0.00   0.0  0.0   0.0   0.0    0.0      0.0
              RECEITA   ...    0.00   0.0  0.0   0.0   0.0    0.0      0.0

Ano
Mes                    Outubro Novembro Dezembro
CodigoProjeto Natureza
EDIAPP001     CUSTO        0.0      0.0      0.0
              RECEITA      0.0      0.0      0.0
EDIATP001     CUSTO        0.0      0.0      0.0
              RECEITA      0.0      0.0      0.0
EDIBEL001     CUSTO        0.0      0.0      0.0
...                        ...      ...      ...
NSPPRI291     RECEITA      0.0      0.0      0.0
NSPSLT003     CUSTO        0.0      0.0      0.0
              RECEITA      0.0      0.0      0.0
PRJRIO001     CUSTO        0.0      0.0      0.0
              RECEITA      0.0      0.0      0.0

[1516 rows x 120 columns]